p
{
    color: white;
    font-family: Calibri;
    align-items: center;
}

body
{
    background-image: url("pozadie.png");
    background-repeat: repeat-y;
    background-size: contain;
}

h1
{
    color: #adb5bd;
    font-family: Arial;
    font-weight: bold;
    padding: 10px;
}

h1 ~ p
{
    font-size: large;
    padding-left: 15px;
}

h3
{
    color: #adb5bd;
    font-family: Calibri;
    padding: 7px;
    text-align: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon
{
    filter: invert(100%);
}

.nav-link
{
    color: black;
}

.napoveda
{
    color: white;
    text-align: center;
}

div > p
{
    font-size: large;
    color: white;
    text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
}

.navbar-brand
{
    text-decoration: underline;
}

div img
{
    width: 50%;
    margin-left: 25%;
}